{% extends 'patient/index.html' %}

{% block title %}patient dashboard{% endblock %}

{% block content %}
    <div class="container">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Prosessing Appointment</h5>
            <hr class="my-4">
                <table class="table">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">appointment id</th>
                      <th scope="col">Patient</th>
                      <th scope="col">Hospital</th>
                      <th scope="col">Doctor</th>
                      <th scope="col">Type</th>
                      <th scope="col">Insurance Provider</th>
                      <th scope="col">View Details</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>Mark</td>
                      <td>Mark</td>
                      <td>Mark</td>
                      <td>Otto</td>
                      <td>@mdo</td>
                      <td>Mark</td>
                    </tr>
                  </tbody>
                </table>
            <div style="height: 50px"></div>
            <a href="#" class="btn btn-primary">Make a new appointment</a>
          </div>
        </div>
    </div>
{% endblock %}