{% extends 'patient/index.html' %}

{% block title %}Appointment{% endblock %}

{% block content %}
    <div class="container">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Prosessing Appointment</h5>
            <hr class="my-4">
                <table class="table">
                  <thead class="thead-dark">
                    <tr>
                      <th scope="col">appointment id</th>
                      <th scope="col">Hospital</th>
                      <th scope="col">Doctor</th>
                      <th scope="col">Type</th>
                      <th scope="col">Insurance Provider</th>
                      <th scope="col">create time</th>
                      <th scope="col">View Details</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for i in appointment %}
                        <tr>
                          <th scope="row">{{ i.ap_id }}</th>
                          <td>{{ i.doctor.hospital.hospital_name }}</td>
                          <td>{{ i.doctor.first_name }}</td>
                          <td>{{ i.type }}</td>
                          <td>{{ i.ins_p_id.ins_provider_name }}</td>
                          <td>{{ i.ins_p_id.tbl_last_dt }}</td>
                          <td>
                              <a class="btn btn-sm btn-info" href="{% url 'view_appointment'  i.ap_id %}">View</a>
                          </td>
                        </tr>
                    {% endfor %}
                  </tbody>
                </table>
            <div style="height: 50px"></div>
            <a href=" {% url 'make_appointment' patient.p_id %} " class="btn btn-primary">Make a new appointment</a>
          </div>
        </div>
    </div>
{% endblock %}