{% extends 'patient/index.html' %}

{% block title %}Appointment{% endblock %}

{% block content %}
    <div class="container">
        <blockquote class="blockquote text-center">
            <h5>Billing List</h5>
        </blockquote>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Billing ID</th>
                <th scope="col">Treatment ID</th>
                <th scope="col">Amount</th>
                <th scope="col">Due Date</th>
                <th scope="col">Receipt</th>
            </tr>
            </thead>
            <tbody>
            {% for billing in billings %}
                <tr>
                    <th scope="row">{{ billing.b_id }}</th>
                    <td>{{ billing.treat.treat_id }}</td>
                    <td>{{ billing.amount }}</td>
                    <td>{{ billing.due_date }}</td>
                    {% if billing.paid %}
                        <td>
                            <a class="btn btn-sm btn-info" href="{% url 'view_receipt'  billing.b_id %}">Recript</a>
                        </td>
                    {% else %}
                        <td>
                            <a class="btn btn-sm btn-info" href="{% url 'pay_bill'  billing.b_id %}">Pay</a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
{% endblock %}