{% extends 'patient/index.html' %}

{% block title %}Make Appoinment{% endblock %}

{% block content %}

    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#hospitalname").change(function() {
                var selhospital = $("#hospitalname").find("option:selected").text();
                $.ajax({
                    url: '/patient/getdoctor/',
                    data:{"selhospital":selhospital},
                    type: 'GET', dataType: 'json',
                    success: function (data) {
                      var content='';
                      $.each(data, function(i, item){
                          content+='<option value='+item.first_name+'>'+item.first_name+'</option>'
                      });
                      $('#doctorname').html(content)
                  },
              });
            });
        });
    </script>



    <div class="container">
        <div class="row">
            <div class="col-md-5"></div>
            <div class="col-md-6">
                <div class="card" style="width: 32rem;">
                  <div class="card-body">
                    <h5 class="card-title text-center">Make a new appointment</h5>
                  <hr class="my-4">
                    <form action="{% url 'make_appointment' patient.p_id %}" method="post">
                        <div style="height: 50px"></div>
                        {% csrf_token %}
                        <label for="hospitalname">hospital:</label>
                        <select class="field" name="selhospital" id="hospitalname">
                            <option value ="select">select</option>
                            {% for hospital in hospitallist %}
                                <option value ={{ hospital.hospital_name }}>{{ hospital.hospital_name }}</option>
                            {% endfor %}
                        </select>
                        </br>
                        </br>
                        <label for="doctorname">doctor:</label>
                        <select name="seldoctor" id="doctorname"></select>
                        </br>
                        </br>
                        <label for="treated_time">treated_time:</label>
                        <input type="date" id="treated_time" class="form-control" name="treated_time" required>
                        </br>
                        </br>
                        <label for="ins">insurance provider:</label>
                        <select class="field" name="ins" id="ins">
                            <option value ="select">select</option>
                            {% for ins in inslist %}
                                <option value ={{ ins }}>{{ ins }}</option>
                            {% endfor %}
                        </select>
                        </br>
                        </br>


                           <button type="submit" class="btn btn-primary">submit</button>
                            </br>

                            </br>
                            <h4 style="color: #ff0000"><b>{{ login_err }}</b></h4>
                        <div style="height: 50px"></div>
                    </form>
                  </div>
                </div>
            </div>
            <div class="col-md-6"></div>
        </div>
    </div>
{% endblock %}





