{% extends 'patient/index.html' %}

{% block title %}account{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6">
                <form action="{% url 'update_patient_account' patient.p_id %}" method="post">
                    {% csrf_token %}
                    {{ p_form.as_p }}
                    <button type="submit" class="btn btn-primary">update</button>
                </form>
                <br>
                <a class="btn btn-outline-primary" href="{% url 'dashboard' patient.p_id %}" role="button">Go Back</a>
                <br>
            </div>

        </div>

    </div>
    <br>
{% endblock %}