{% extends 'patient/index.html' %}

{% block title %}account{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6">
                <form action="{% url 'update_patient_account' patient.p_id %}" method="post">
                    {% csrf_token %}
                    {{ p_form.as_p }}
                    <button type="submit" class="btn btn-primary">update</button>
                </form>
            </div>
            <div class="col-md-6"></div>
        </div>
    </div>
{% endblock %}