{% extends 'patient/index.html' %}

{% block title %}View Appoinment{% endblock %}

{% block content %}
    <div class="container">
        <blockquote class="blockquote text-center">
            <h5>Appoinment Detail</h5>
        </blockquote>
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="row">Patient Name</th>
                <td>{{ patient.first_name }} {{ patient.last_name }}</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">Appointment ID</th>
                <td>{{ appointment.ap_id }}</td>
            </tr>
            <tr>
                <th scope="row">Doctor Name</th>
                <td>{{ appointment.doctor.first_name }} {{ appointment.doctor.last_name }}</td>
            </tr>
            <tr>
                <th scope="row">Insurance Provider</th>
                <td>{{ appointment.ins_p_id.ins_provider_name }}</td>
            </tr>
            <tr>
                <th scope="row">Appointment Time</th>
                <td>{{ appointment.ap_time }}</td>
            </tr>
            <tr>
                <th scope="row">Appointment Status</th>
                <td>{{ appointment.status }}</td>
            </tr>
            <tr>
                <th scope="row">Appointment Type</th>
                <td>{{ appointment.type }}</td>
            </tr>
            <tr>
                <th scope="row">Last Appointment ID</th>
                <td>{{ appointment.last_ap.ap_id }}</td>
            </tr>
            {% if inpatient %}
                <tr>
                    <th scope="row">Start Time</th>
                    <td>{{ inpatient.start_time }}</td>
                </tr>
                <tr>
                    <th scope="row">End Time</th>
                    <td>{{ inpatient.end_time }}</td>
                </tr>
                <tr>
                    <th scope="row">Hospital</th>
                    <td>{{ inpatient.room.hospital.hospital_name }}</td>
                </tr>
                <tr>
                    <th scope="row">Room ID</th>
                    <td>{{ inpatient.room.room_id }}</td>
                </tr>
                <tr>
                    <th scope="row">Room Name</th>
                    <td>{{ inpatient.room.room_name }}</td>
                </tr>
                <tr>
                    <th scope="row">Room Description</th>
                    <td>{{ inpatient.room.description }}</td>
                </tr>
            {% endif %}
            {% if outpatient %}
                <tr>
                    <th scope="row">Treated Time</th>
                    <td>{{ outpatient.treated_time }}</td>
                </tr>
            {% endif %}
            {% if nursinghome %}
                <tr>
                    <th scope="row">Start Time</th>
                    <td>{{ nursinghome.start_time }}</td>
                </tr>
                <tr>
                    <th scope="row">End Time</th>
                    <td>{{ nursinghome.end_time }}</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
    </div>

    <div class="container">
        <blockquote class="blockquote text-center">
            <h5>Treatment Related to this Appointment</h5>
        </blockquote>
        <table class="table">
            <thead class="thead-light">
            <tr>
                <th scope="col">Treatment ID</th>
                <th scope="col">Treatment Type</th>
                <th scope="col">ICD Name</th>
                <th scope="col">View Details</th>
            </tr>
            </thead>
            <tbody>
            {% for i in treatment %}
                <tr>
                    <th scope="row">{{ i.treat_id }}</th>
                    <td>{{ i.treat_type }}</td>
                    <td>{{ i.icd_code.description }}</td>
                    <td>
                        <a class="btn btn-sm btn-info" href="{% url 'view_treatment'  i.treat_id %}">View</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <blockquote class="blockquote text-center">
            <a class="btn btn-outline-primary" href="javascript:history.go(-1)" role="button">Go Back</a>
        </blockquote>
    </div>
{% endblock %}