{% extends 'doctor/index.html' %}

{% block title %}doctor dashboard{% endblock %}

{% block content %}
    <div class="container">
        <blockquote class="blockquote text-center">
            <h5>Treatment Related to Patient {{ appointment.p_id.first_name }} {{ appointment.p_id.last_name }}</h5>
        </blockquote>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Treatment ID</th>
                <th scope="col">Treatment Type</th>
                <th scope="col">ICD Name</th>
                <th scope="col">View Details</th>
            </tr>
            </thead>
            <tbody>
            {% for i in treatments %}
                <tr>
                    <th scope="row">{{ i.treat_id }}</th>
                    <td>{{ i.treat_type }}</td>
                    <td>{{ i.icd_code.description }}</td>
                    <td>
                        <a class="btn btn-sm btn-info" href="{% url 'doc_view_treatment'  i.treat_id %}">View</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}