{% extends 'account/index.html' %}

{% block title %}patient_login{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-5"></div>
            <div class="col-md-6">
                <div class="card" style="width: 32rem;">
                  <div class="card-body">
                    <h5 class="card-title text-center">login</h5>
                  <hr class="my-4">
                    <form action="{% url 'patient_login' %}" method="post">
                        <div style="height: 50px"></div>
                        {% csrf_token %}
                        <label for="user">username:</label>
                        <input type="text" id="user" class="form-control" name="username" placeholder="username" required>
                        <label for="pwd">password:</label>
                        <input type="password" id="pwd" class="form-control" name="password" placeholder="password" required>
                        {% if message %}
                        <div class="alert alert-danger" role="alert">
                            {{ message }}
                        </div>
                        {% endif %}
                        <div style="height: 50px"></div>
                        <button type="submit" class="btn btn-primary">login</button>
                        <a href="{% url 'register' %}" class="btn btn-primary btn-info">register</a>
                    </form>
                  </div>
                </div>
            </div>
            <div class="col-md-6"></div>
        </div>
    </div>

{% endblock %}